In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("dat.csv",index_col=0)

In [ ]:
data

             class  Gender   Age  Survived
PassengerId
1              3.0    male  22.0       0.0
2              1.0  female  38.0       1.0
3              3.0  female  26.0       1.0
4              NaN  female  35.0       NaN
5              3.0    male  35.0       0.0
6              3.0    male   NaN       0.0
7              1.0    male  54.0       0.0
8              3.0    male   2.0       0.0
9              3.0     NaN  27.0       1.0
10             2.0  female  14.0       1.0
11             3.0  female   4.0       1.0
12             1.0  female  58.0       1.0
13             3.0    male  20.0       0.0
14             NaN    male  39.0       NaN
15             3.0  female  14.0       0.0
16             2.0  female  55.0       1.0
17             3.0    male   2.0       0.0
18             2.0    male   NaN       1.0

problem-1 Generate 10000 values between 5 and 500. Find its mean, median, variance, 25th percentile.

In [ ]:
arr = np.random.randint(5,500,1000)

In [ ]:
np.mean(arr)

252.499

In [ ]:
np.median(arr)

254.5

In [ ]:
np.percentile(arr,25)

130.0

Problem 2 In the “dat.csv” replace all the null values with the mean of their respective columns (except Gender).

In [ ]:
data.isna().sum()

class       2
Gender      1
Age         2
Survived    2
dtype: int64

In [ ]:
np.mean(data["class"])

2.4375

In [ ]:
data["class"].fillna(np.mean(data["class"]))

PassengerId
1     3.0000
2     1.0000
3     3.0000
4     2.4375
5     3.0000
6     3.0000
7     1.0000
8     3.0000
9     3.0000
10    2.0000
11    3.0000
12    1.0000
13    3.0000
14    2.4375
15    3.0000
16    2.0000
17    3.0000
18    2.0000
Name: class, dtype: float64

In [ ]:
np.mean(data["Age"])

27.8125

In [ ]:
data["Age"].fillna(np.mean(data["Age"]))

PassengerId
1     22.0000
2     38.0000
3     26.0000
4     35.0000
5     35.0000
6     27.8125
7     54.0000
8      2.0000
9     27.0000
10    14.0000
11     4.0000
12    58.0000
13    20.0000
14    39.0000
15    14.0000
16    55.0000
17     2.0000
18    27.8125
Name: Age, dtype: float64

In [ ]:
np.mean(data["Survived"])

0.5

In [ ]:
data["Survived"].fillna(np.mean(data["Survived"]))

PassengerId
1     0.0
2     1.0
3     1.0
4     0.5
5     0.0
6     0.0
7     0.0
8     0.0
9     1.0
10    1.0
11    1.0
12    1.0
13    0.0
14    0.5
15    0.0
16    1.0
17    0.0
18    1.0
Name: Survived, dtype: float64

Problem 3 Create a new column called “Bool” which has value as “yes” if Survived=0 and “no” if Survived=1.

In [ ]:
data["Bool"] = np.where(data['Survived']==1, True, False)
data

             class  Gender   Age  Survived   Bool
PassengerId
1              3.0    male  22.0       0.0  False
2              1.0  female  38.0       1.0   True
3              3.0  female  26.0       1.0   True
4              NaN  female  35.0       NaN  False
5              3.0    male  35.0       0.0  False
6              3.0    male   NaN       0.0  False
7              1.0    male  54.0       0.0  False
8              3.0    male   2.0       0.0  False
9              3.0     NaN  27.0       1.0   True
10             2.0  female  14.0       1.0   True
11             3.0  female   4.0       1.0   True
12             1.0  female  58.0       1.0   True
13             3.0    male  20.0       0.0  False
14             NaN    male  39.0       NaN  False
15             3.0  female  14.0       0.0  False
16             2.0  female  55.0       1.0   True
17             3.0    male   2.0       0.0  False
18             2.0    male   NaN       1.0   True

Problem 4 What is the mean age of the data?

In [ ]:
np.mean(data["Age"])

27.8125

Problem 5 Rename the “PassengerId” column name to “Id”.

In [ ]:
data.rename(columns={" PassengerID":"Id"},inplace=True)
data

             class  Gender   Age  Survived   Bool
PassengerId
1              3.0    male  22.0       0.0  False
2              1.0  female  38.0       1.0   True
3              3.0  female  26.0       1.0   True
4              NaN  female  35.0       NaN  False
5              3.0    male  35.0       0.0  False
6              3.0    male   NaN       0.0  False
7              1.0    male  54.0       0.0  False
8              3.0    male   2.0       0.0  False
9              3.0     NaN  27.0       1.0   True
10             2.0  female  14.0       1.0   True
11             3.0  female   4.0       1.0   True
12             1.0  female  58.0       1.0   True
13             3.0    male  20.0       0.0  False
14             NaN    male  39.0       NaN  False
15             3.0  female  14.0       0.0  False
16             2.0  female  55.0       1.0   True
17             3.0    male   2.0       0.0  False
18             2.0    male   NaN       1.0   True

Problem 6 How many male and female people are there in our data?

In [ ]:
data['Gender'].value_counts()

male      9
female    8
Name: Gender, dtype: int64